.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 40px;
  margin-top: 1rem;
}

.logo img {
  height: 50px;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list {
  padding: 1rem;
  color: #7a7d7d;
  font-size: 14px;
}

.nav-list:hover {
  color: black;
}

.nav-list:focus {
  color: black;
  text-decoration: underline;
}
