body {
  background-color: #fffbfe;
}

.Secondpage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10%;
}

.arrow-icon {
  font-size: 30px;
  color: black;
  fill: black;
}
