body {
  background-color: #fffbfe;
}

.Secondpage {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  height: 95vh;
  align-content: center;
  margin-right: 5%;
  margin-left: 20%;
  margin-top: 10%;
}

.mainContent-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  height: 50%;
  width: 80%;
}

.arrow-icon {
  font-size: 30px;
  color: black;
  fill: black;
}

.tester {
  text-align: center;
}

.graph {
  margin-left: 5%;
  width: 35%
}

.graph2 {
  width: 35%
}

.graph3 {
  margin-left: 5%;
  width: 35%;

}

.graph4 {
  width: 35%
}

