body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background-color: #f8f9fa;
}

.Secondpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  margin: 5%;
}
.left-arrow-icon,
.right-arrow-icon {
  font-size: 30px;
}

.StateConfirmed {
  color: #ff073a;
}
.StateTested {
  color: #007bff;
}
.StateDeaths {
  color: #707070;
}
.StateRecovered {
  color: #28a745;
}

.Confirmed-increased {
  color: rgba(255, 7, 58, 0.6);
  margin-bottom: 1rem;
  font-size: 15px;
}
.Tested-increased {
  color: rgba(7, 32, 255, 0.6);
  margin-bottom: 1rem;
  font-size: 15px;
}
.Death-increased {
  color: rgba(108, 117, 125, 0.6);
  margin-bottom: 1rem;
  font-size: 15px;
}

.Recovered-increased {
  font-size: 15px;
  margin-bottom: 1rem;
  color: #4ac767;
}

.mainContent-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 4rem;
}

.data-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.updatedTime {
  color: #707070;
  margin-bottom: 2rem;
  font-size: 13px;
}

.graph-area {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
}

.detail-data-area {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  gap: 6rem;
}

.stateName {
  margin-bottom: 1rem;
}

.detail-data-list {
  margin-bottom: 1rem;
}

.graph {
  width: 35%;
  min-width: 250px;
}

.graph2 {
  width: 35%;
  min-width: 250px;
}

.graph3 {
  width: 35%;
  min-width: 250px;
}

.graph4 {
  width: 35%;
  min-width: 250px;
}

@media only screen and (max-width: 800px) {
  .detail-data-area {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    gap: 4rem;
  }
}
