.SignupPage {
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}

.Signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

.SignupTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.SignupInput-Section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Signupbtn {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  color: black;
  margin-top: 2rem;
}

.Signupbtn:hover,
.Signupbtn:active {
  color: #707070;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.Signup-input {
  border: none;
  width: 27vw;
  border-bottom: 0.5px solid #707070;
  outline: none;
  padding: 0.6rem;
  text-align: center;
  background-color: #fffbfe;
}

.additionInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 13px;
  color: #7a7d7d;
  align-items: center;
}

.forgotpass {
  color: #7a7d7d;
}

.forgotpass:hover,
.forgotpass:active {
  color: black;
}

.direct-to-Login {
  color: #7a7d7d;
}
.direct-to-Login:hover,
.direct-to-Login:active {
  color: black;
}
